body {
  font-family: Arial, Helvetica, sans-serif;
}
aside {
  text-align: right;
}
nav {
  display: inline-block;
}
blockquote {
  margin: 0;
  padding: 0;
}
blockquote p {
  padding: 15px;
  background: #EEE;
  border-radius: 5px;
  color: gray;
}
blockquote p::before {
  content: "\201C";
}
blockquote p::after {
  content: "\201D";
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
textarea:focus {
  background: cyan;
}
textarea:invalid, textarea:focus:invalid {
  border: 2px dashed red;
}
textarea:valid, textarea:focus:valid {
  border: 2px solid lime;
}
