*, *::before, *::after {
  box-sizing: border-box;
}
body {
  font-family: Arial, Helvetica, sans-serif;
}
aside {
  text-align: right;
}
nav {
  display: inline;
  margin: 0;
  padding: 5px 0 5px 30px;
}
nav a {
  margin-right: 20px;
}
blockquote {
  margin: 0;
  padding: 0;
}
blockquote p {
  padding: 15px;
  background: #EEE;
  border-radius: 5px;
  color: gray;
}
blockquote p::before {
  content: "\201C";
}
blockquote p::after {
  content: "\201D";
}
a {
  color: blue;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
textarea:focus {
  background: sienna;
  outline: none;
}
textarea:invalid {
  border: 2px dashed red;
}
textarea:valid {
  border: 2px solid lime;
}
figure {
  margin: 0;
  padding: 0;
}
figure blockquote + figcaption::before {
  content: "\2014";
}
details {
  width: 620px;
}
details > summary {
  padding: 2px 6px;
  width: 15em;
  background: #DDD;
  border: none;
  box-shadow: 3px 3px 4px black;
  cursor: pointer;
}
details > p {
  border-radius: 0 0 10px 10px;
  background: #DDD;
  padding: 2px 6px;
  margin: 0;
  box-shadow: 3px 3px 4px black;
}
